body {
    background-color: #9dc7b7;
    color: black;
    height: 100%;
}

section {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.img {
    border-radius: 5px;
}

.content {
    margin: 30px 0px;
}

button {
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.primary {
    background-color: green;
    border-radius: 5px;
}

.secondary {
    background-color: red;
    color: white;
    border-radius: 5px;
}

input {
    border: none;
    padding: 15px 20px;
    margin-right: 5px;
    border-radius: 5px;
}